<!-- <div class="card">
	<div class="bar-card">
		<div class="row no- ">
			<div class="col col-90">Datos Del Contacto</div>
			<a class="button-icon"><i class="waves-effect waves-light icon ion-android-done"></i></a>
		</div>
	</div>


</div> -->
<div class="row">
   <div class="col">
        <div class="padding row">
            <div class="card card-gallery item item-text-wrap">
                <div class="ink title-category">
                    <img src="images/person.png"  alt="" class="full-image">
                </div>
                <div class="item text-right">
                    <div class="row">
                        <div class="col">
                            <h4>Cliente</h4>
                        </div>
                        <div class="col">
                            <a  href="#/dash/quotation/more" class="button button-clear icon-right ion-android-more-vertical button-royal no-padding">Mas</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- 2 <-->
        <div class="padding row">
            <div class="card card-gallery item item-text-wrap">
                <div class="ink title-category">
                        <h3>Mudanza<h3>
                        <p>Datos de la mudanza</p>
                        <img src="images/Mudanza.png"  alt="" class="full-image">
                </div>
                <div class="item tabs tabs-secondary tabs-icon left in">
                    <a href="" class="tab-item">
                        <i class="icon ion-android-more-vertical"></i>
                    </a>
                    <a href="" class="tab-item ">
                        <i class="icon ion-android-more-vertical"></i>
                    </a>
                </div>
            </div>
        </div></div>

    <div class="col">
        <div class="padding row">
            <div class="  card card-gallery item item-text-wrap in done mycategory">
                <div class="ink title-category">
                    <h2>Direccion</h2>
                    <img src="images/address.png"  alt="" class="full-image">
                </div>
                <div class="item tabs tabs-secondary tabs-icon left in">
                    <a href="" class="tab-item stable-bg possitive-900">
                        <i class="icon ion-android-more-vertical"></i>
                    </a>
                    <a href="" class="tab-item stable-bg possitive-900">
                        <i class="icon ion-android-more-vertical"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- 2 -->
        <div class="padding row">
            <div class="card card-gallery item item-text-wrap in done mycategory">
                <div class="ink title-category">
                    <h2>Resumen</h2>
                    <img src="images/resumen.png"  alt="" class="full-image">
                </div>
                <div class="item tabs tabs-secondary tabs-icon left in">
                    <a href="" class="tab-item stable-bg possitive-900">
                        <i class="icon ion-android-more-vertical"></i>
                    </a>
                    <a href="" class="tab-item stable-bg possitive-900">
                        <i class="icon ion-android-more-vertical"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



