<ion-list>
	<div ng-repeat="group in groups">
          <ion-item class="coloractive" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
            <div class="row no-padding">
                <div class="col col-20 item-icon-left">
                	<i class="{{group.icon}}"></i>
                </div>
    			<div class="col item-icon-right">{{group.title}}
                    <i ng-class="isGroupShown(group) ? 'icon ion-chevron-up' : 'icon ion-chevron-down'"></i>
                </div></div>
          </ion-item>
          <ion-item ui-sref="{{item.link}}" class="col-offset-20 item-accordion" ng-repeat="item in group.items" ng-show="isGroupShown(group)">
            {{item.title}}
          </ion-item>
    </div>
</ion-list>

