<div class="card">
    <div class="bar-card">
        <div class="row no-padding">
            <div class="col col-90">Datos De La Edificacion</div>
            <a class="button-icon"><i class="icon ion-android-done"></i></a>
        </div>
    </div>
    <form action="">
        <div class="row no-padding">
            <div class="col">
                <!-- Type Edification -->
                <label class="item item-input item-select">
                    <span class="input-label">1.-Tipo de Edificacion</span>
                    <select required autofocus ng-model="address.edificacion">
                        <optgroup label="Seleccione una Edificacion">
                        <option>Edificacion tipo 1</option>
                        <option>Edificacion tipo 2</option>
                    </select>
                </label>
            </div>
            <div class="col">
                <!-- Name Edifice -->
                <label for="" class="item item-input item-floating-label">
                    <span class="input-label">Nombre Del Edificio</span>
                    <input type="text" placeholder="Nombre Del Edificio" ng-model="edification.nombre_edificio">
                </label>
            </div>
        </div>
        <div class="row no-padding">
            <div class="col">
                <!-- Number Of Floors -->
                <label for="" class="item item-input item-floating-label">
                    <span class="input-label">Cantidad De Pisos</span>
                    <input type="number" placeholder="Cantidad de Pisos" ng-model="edification.cantidad_de_pisos">
                </label>
            </div>
            <div class="col">
                <!-- Number Of Property Per Floors -->
                <label for="" class="item item-input item-floating-label">
                    <span class="input-label">Cantidad De Inmuebles X Pisos</span>
                    <input type="number" placeholder="Inmuebles X Pisos" ng-model="edification.cantidad_de_inmuebles_por_pisos">
                </label>
            </div>
        </div>
        <div class="row no-padding">
            <div class="col">
                <!-- Total Property -->
                <label for="" class="item item-input item-floating-label">
                    <span class="input-label">Total De Inmuebles</span>
                    <input type="number" placeholder="Indique La Cantidad Total De inmuebles" ng-model="edification.total_inmuebles">
                </label>
            </div>
            <div class="col">
                <!-- Distance From The Vehicle -->
                <label for="" class="item item-input item-floating-label">
                    <span class="input-label">Distanca Del Vehiculo</span>
                    <input type="number" placeholder="Indique La Distanca Del Vehiculo" ng-model="edification.distancia_del_vehiculo">
                </label>
            </div>
        </div>
        <div class="row no-padding">
            <div class="col">
                <ion-toggle ng-model="edification.rampa" toggle-class="toggle-balanced">Rampa</ion-toggle>
            </div>
            <div class="col">
                <ion-toggle ng-model="edification.escalon_grande" toggle-class="toggle-balanced">Escalon Grande</ion-toggle>
            </div>
        </div>
        <div class="row no-padding">
            <div class="col">
                <ion-toggle ng-model="edification.escalera_estrecha" toggle-class="toggle-balanced">Escalera Estrecha</ion-toggle>
            </div>
            <div class="col">
                <ion-toggle ng-model="edification.escalera_inclinada" toggle-class="toggle-balanced">Escalera Inclinada</ion-toggle>
            </div>
        </div>
    </form>
</div>
