<ion-view view-title="Barrios Registrados">
    <ion-content scroll="false">
        <ion-list>
            <ion-item ng-repeat="neighborhood in neighborhoods">
                <h2>{{neighborhood.barrio}} - ID:{{neighborhood.id_web}}</h2>
                <p>Provincia:{{neighborhood.provincia}}</p>
                <p>Ciudad:{{neighborhood.ciudad}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
    <button class="button button-fab button-fab-bottom-right button-assertive icon ion-loop" ng-click="sync()"></button>
</ion-view>
