<ion-list>
  <div class="card">
    <ion-item class="item item-royal item-icon-right">
      <strong>Datos Del Cliente</strong>
      <i class="icon ion-android-create" ng-click="edit_customer(customer.id_web)"></i>
    </ion-item>
    <ion-item class="item item-icon-right">
      <h2 class="title">Responsable : {{customer.nombre}}</h2>
      <p ng-if="customer.cuit">Cuit: {{customer.cuit}}</p>
      <p ng-if="customer.dni">DNI: {{customer.dni}}</p>
      <p ng-if="customer.tipo_de_cliente">Tipo De  Cliente: {{customer.tipo_de_cliente}}</p>
      <p ng-if="customer.telefono">Telefono: {{customer.telefono}}</p>

    </ion-item>
  </div>
  <div class="card">
    <ion-item class="item-royal item-icon-right">
      <strong>Contactos Asociados </strong>
      <i class="icon ion-plus" ng-click="add_contacts(customer)"></i>
      <!-- <i class="icon ion-plus" ng-click="add_contacts(customer)"> -->
    </ion-item>

    <ion-item ng-repeat="contact in contacts" ng-if="contact.tipo_de_relacion != 'Cliente'">
      <h2><p>Nombre</p>{{contact.nombre}}</h2>
      <p>Dni: {{contact.dni}} Telefono: {{contact.telefono}} Tipo de Relacion: {{contact.tipo_de_relacion}}</p>
      <ion-option-button class="button-balanced" ng-click="delete_contact(contact.id, contact.contacto_id)">Eliminar</ion-option-button>
    </ion-item>

  </div>
  <div class="card">
    <ion-item class="item item-royal item-icon-right">
      <strong>Fuente De Promocion</strong>
      <i class="icon ion-android-create" ng-click="edit_customer(customer.id_web)"></i>
    </ion-item>
  </div>

</ion-list>
