<ion-list>
  <div ng-repeat="a in address">
    <div ng-repeat="e in environments" class="card" ng-if="a.cotizacion_clientedireccion_id == e.cotizacion_clientedireccion_id">
      <ion-item class="item-royal item-icon-right" ng-click="toggleGroup(e)" ng-class="{active: isGroupShown(e)}">
        <strong>{{a.pais}} - {{e.ambiente}}</strong>
        <i class="icon ion-plus" ng-click="add_furniture(e)"></i>
      </ion-item>
      <ion-item class="item-accordion" ng-repeat="f in furnitures" ng-if="f.ambiente_id == e.cotizacion_ambiente_id" ng-show="isGroupShown(e)">
        <h2><span ng-if="f.cantidad > 1">{{f.cantidad}} X </span>{{f.mueble}} - {{f.especificacion}}</h2>
        <ion-option-button class="button-positive" ng-click="add_one_furniture(f.id, f.id_web)">Sumar Uno</ion-option-button>
        <ion-option-button ng-if="f.cantidad > 1" class="button-assertive" ng-click="sub_one_furniture(f.id, f.id_web)">Restar Uno</ion-option-button>
        <ion-option-button class="button-balanced" ng-click="delete_furniture(f.id, f.id_web)">Eliminar</ion-option-button>
      </ion-item>
    </div>

  </div>
</ion-list>
