<!-- <ion-list>
  <div ng-repeat="a in address" class="card">
    <ion-item class="item-royal item-icon-right">{{a}}</ion-item>
    <ion-list>
      <div ng-repeat=" e in environments" class="card">
        <h2>Ambiente</h2>
        <ion-item>{{e}}</ion-item>
        <ion-list>
          <ion-item>
            <h2>muebles - 1</h2>
            <h2>muebles - 2</h2>
            <h2>muebles - 3</h2>
          </ion-item>
        </ion-list>
      </div>
    </ion-list>
  </div>
</ion-list> -->
<ion-list>
  <div ng-repeat="a in address">
    <div ng-repeat="e in environments" class="card" ng-if="a.cotizacion_clientedireccion_id == e.cotizacion_clientedireccion_id">
      <ion-item class="item-royal item-icon-right"  ><h2> {{a.pais}} - {{e.ambiente}} </h2></ion-item>
      <ion-list>
        <ion-item class="item-stable" ng-repeat="m in [1,2,3,4]">
          <h2>Mueble {{m}}</h2>
          <ion-option-button class="button-balanced" ng-click="">Eliminar</ion-option-button>
        </ion-item>
      </ion-list>
    </div>

  </div>
</ion-list>
