<ion-view view-title="Paises Registrados">
    <ion-content scroll="false">
        <ion-list>
            <ion-item ng-repeat="country in countrys">
                <h2>{{country.pais}} - ID:{{pais.id_web}}</h2>
                <p><i class="icon ion-android-call"></i>{{country.codigo_telefonico}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
    <button class="button button-fab button-fab-bottom-right button-assertive icon ion-loop" ng-click="sync()"></button>
</ion-view>
