<ion-view cache-view="false">
<div class="ionic login fondo">
    <div class="hero no-header flat">
        <div class="content">
            <i class="ion-cube icon hero-icon energized-bg"></i>
            <h1>MudarteApp</h1>
        </div>
    </div>
            <ion-list>
                    <input type="text" class="field" ng-model="user.name" placeholder="Nombre de Usuario">
                    <input type="password" class="field" ng-model='user.pass' placeholder="Contraseña">
            </ion-list>
    <div class="padding">
        <button class="button-block button-energized waves-effect waves-button waves-light" ng-click="login(user)">Ingresar</button>

    </div>
    <div class="button-bar without_shadow">
        <a href="#" class="button button-positive button-clear button-block ">Recuperar Contraseña</a>
    </div>
</div>
</ion-view>
