<ion-view title="Cotizaciones">
  <ion-content scroll="false">
    <ion-list>

            <ion-item class="md-card" nav-direction="center" href="#/dash/quotation/client">
                <div class="row whithout-shadow">
                    <div class="col col-20 "><h1>00-1</h1></div>
                    <div class="col">
                        <h2>Leonardo Loyo</h2>
                        <p>Address:Urb.Blanquita de Perez Calle alberto carnevali casa 24 </p>

                    </div>
                </div>
                <ion-option-button>Aplazar</ion-option-button>

            </ion-item>
            <ion-item class="md-card" nav-direction="forward" href="#/dash/quotation/client">
                <div class="row whithout-shadow">
                    <div class="col col-20 "><h1>00-2</h1></div>
                    <div class="col">
                        <h2>Anotnio Loyo</h2>
                        <p>Address:Urb.Blanquita de Perez Calle alberto carnevali casa 24 </p>

                    </div>
                </div>
                <ion-option-button side="right">Aplazar</ion-option-button>

            </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
<!-- href="#/dash/quotation/client" -->
