<div class="card">
    <div class="bar-card">
        <h4 class="title-center">Ambientes</h4>
    </div>
   <!-- Card Contents-->

    <div class="col">
        <label for="" class="item itemp-input item-floating-label">
            <span class="input-label">Numero de Ambientes</span>
            <input type="text" placeholder="DNI del contacto">
        </label>
    </div>
    <div class="row no-padding">
        <div class="col">
            <label for="" class="item item-input item-floating-label">
                <span class="input-label">Nombre </span>
                <input type="text" placeholder="Nombre del Contacto">
            </label>
        </div>
        <div class="col">
            <label for="" class="item item-input item-floating-label">
                <span class="input-label">Apellido </span>
                <input type="text" placeholder="Apellido del Contacto">
            </label>
        </div>
    </div>

<!-- Card Contents -->
</div>
