<ion-modal-view>
    <ion-header-bar>
        <h2 class='title'>Registro Nuevo</h2>
    </ion-header-bar>
    <ion-content><div class="myform">
       <!-- <form ng-submit="save(formu)" name="form"> -->
            <ion-list>

              <!--   <ion-item>
                    <span>Pais</span>

                    <select ng-model="country" ng-change="update_provinces(country.id)" ng-options="item as item.pais for item in countrys track by item.id">
                    </select>
                </ion-item> -->

                <md-input-container>
                    <label>State</label>
                    <md-select ng-model="country">
                        <md-option ng-options="item as item.pais for item in countrys track by item.id" value="{{item.pais}}">
                    {{item.pais}}
                    </md-option>
                    </md-select>
                </md-input-container>

                <ion-item>
                    <span>Provincia</span>
                    <select ng-model="province" ng-change="update_cities(province.id)" ng-options="province.provincia for province in provinces track by province.id">
                    </select>
                </ion-item>

                <ion-item>
                    <span>Ciudad</span>
                    <select ng-model="city" ng-change="update_neighborhoods(city.id)" ng-options="city.ciudad for city in cities track by city.id"></select>
                </ion-item>

                <ion-item>
                    <span>Barrio</span>
                    <select ng-model="neighborhood" ng-change="update_neighborhood(neighborhood.id)"ng-options="neighborhood.barrio for neighborhood in neighborhoods track by neighborhood.id">
                </ion-item>
                <ion-item>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Calle</span>
                        <input type="text" ng-model="street.calle">
                    </label>
                </ion-item>
                <ion-item>
                    <button class="button button-block button-energized-900" ng-click="save()"> Registrar</button>
                </ion-item>
            </ion-list>
        <!-- </form> -->
        </div>
    </ion-content>
</ion-modal-view>
