<div class="card">

    <div class="bar-card">
        <div class="row no-padding">
            <div class="col col-90">Datos Del Ascensor</div>
            <a class="button-icon"><i class="icon ion-android-done"></i></a>
        </div>
    </div>
    <form action="">
        <div class="row no-padding">
            <div class="col">
                <!-- Type Elevator -->
                <label class="item item-input item-select">
                    <span class="input-label">Tipo de Ascensor</span>
                    <select required autofocus ng-model="elevator.tipo_de_ascensor">
                        <optgroup label="Seleccione Una Ascensor">
                        <option>Elevador tipo 1</option>
                        <option>Elevador tipo 2</option>
                    </select>
                </label>
            </div>
            <div class="col">
                <!-- Number Of The Elevator-->
                <label for="" class="item item-input item-floating-label">
                    <span class="input-label">Cantidad De Ascensores</span>
                    <input type="number" placeholder="Cantidad De Ascensores" ng-model="elevator.cantidad">
                </label>
            </div>
        </div>
        <div class="row no-padding">
            <div class="col">
                <!-- Velocity Per Floors -->
                <label for="" class="item item-input item-floating-label">
                    <span class="input-label">Velocidad Por Pisos</span>
                    <input type="number" placeholder="Velocidad X Pisos" ng-model="elevator.velocidad_por_piso">
                </label>
            </div>
            <div class="col">
                <!-- Width -->
                <label for="" class="item item-input item-floating-label">
                    <span class="input-label">Ancho Del Ascensor</span>
                    <input type="number" placeholder="Ancho Del Ascensor" ng-model="elevator.ancho">
                </label>

            </div>
        </div>
        <div class="row no-padding">
            <div class="col">
                <!-- Long -->
                <label for="" class="item item-input item-floating-label">
                    <span class="input-label">Largo Del Ascensor</span>
                    <input type="number" placeholder="Largo Del Ascensor" ng-model="elevator.largo">
                </label>
            </div>
            <div class="col">
                <!-- Height -->
                <label for="" class="item item-input item-floating-label">
                    <span class="input-label">Alto Del Ascensor</span>
                    <input type="number" placeholder="Alto Del Ascensor" ng-model="elevator.alto">
                </label>
            </div>
        </div>
        <div class="row no-padding">
            <div class="col">
                <!-- Capacity Of The Elevator -->
                <label for="" class="item item-input item-floating-label">
                    <span class="input-label">Capacidad Del Ascensor</span>
                    <input type="number" placeholder="Capacidad Del Ascensor" ng-model="elevator.capacidad_carga">
                </label>
            </div>
        </div>
    </form>
</div>

