<ion-view>
  <ion-content>

        <div class="demo-card-wide">
            <div ripple class="mdl-card__title">
                <h2 class="mdl-card__title-text">
                    <span ng-bind="customer.nombre"></span>
                </h2>
            </div>
            <div class="mdl-card__supporting-text">
                <!-- Include partial -->
            <div ng-include src="'templates/customers/partial/partial_new_customer.html'"></div>
                <!-- End Include -->
                <div class="mdl-list__item mdl-list__item--two-line">
                    <span class="mdl-list__item-primary-content">
                        <i class="ion-android-bookmark mdl-list__item-icon "></i>
                        <input type="text" class="field-input-text" placeholder="Dni" ng-model="customer.dni">
                    </span>
                </div>

                <div class="mdl-list__item mdl-list__item--two-line">
                    <span class="mdl-list__item-primary-content">
                        <i class="ion-android-calendar mdl-list__item-icon "></i>
                        <input type="date" class="field-input-text" placeholder="fecha de nacimiento" ng-model="customer.fecha_nacimiento">
                    </span>
                </div>
            <div class="mdl-list__item mdl-list__itemwo-line">
              <span class="mdl-list__item-primary-content">
                <i class="ion-android-contacts mdl-list__item-icon "></i>
                <div class="field-input-text">
                  <select ng-model="customer.tipo_de_relacion_id" class="form-select">
                    <option ng-value="relation.id_web"   ng-repeat="relation in type_of_relations ">{{relation.tipo_de_relacion}}</option>
                  </select>
                </div>
              </span>
            </div>
            <div class="mdl-list__item mdl-list__itemwo-line">
              <span class="mdl-list__item-primary-content">
                <i class="ion-person mdl-list__item-icon "></i>
                <div class="field-input-text">
                  <select ng-model="customer.sexo_id" class="form-select">
                    <option ng-value="sex.id_web"   ng-repeat="sex in sexs ">{{sex.sexo}}</option>
                  </select>
                </div>
              </span>
            </div>
          </div>

        <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                <i class="icon ion-edit"></i>
            </button>
        </div>
        </div>
    </ion-content>
        <button ripple ng-click="new(customer)" class="button button-fab button-fab-bottom-right button-positive icon ion-android-done"></button>
</ion-view>
