
<ion-list>
  <ion-item>Login</ion-item>
  <ion-item href="#/customers" menu-close>Clientes</ion-item>
  <ion-item href="#/dashboard" menu-close>Cotizaciones</ion-item>
  <ion-item href="#/setting" menu-close>Ajustes</ion-item>
  <ion-item href="#/countrys" menu-close>Paises</ion-item>
  <ion-item href="#/provinces" menu-close>Provincias</ion-item>
  <ion-item href="#/cities" menu-close>Ciudades</ion-item>
  <ion-item href="#/neighborhoods" menu-close>Barrios</ion-item>
  <ion-item href="#/streets" menu-close>Calles</ion-item>
  <ion-item href="#/address" menu-close>Direcciones</ion-item>
  <ion-item href="#/address/new" menu-close>Direcciones - new</ion-item>
</ion-list>
