<!-- <ion-header-bar class="expanded">
<img src="http://www.mudarte.com.ar/imagenes/logo.png" alt="">
</ion-header-bar> -->
<ion-list>
<div class="list">
  <ion-item>Login</ion-item>
  <ion-item href="#/dash/customers/list" ui-sref="dash.customers.list" ui-sref-active="selected" menu-close>Clientes</ion-item>
  <ion-item href="#/dash/dashboard" menu-close>Cotizaciones</ion-item>
  <ion-item>Direccion</ion-item>
  <ion-item href="#/dash/countrys" menu-close>Paises</ion-item>
  <ion-item href="#/dash/provinces" menu-close>Provincias</ion-item>
  <ion-item href="#/dash/cities" menu-close>Ciudades</ion-item>
  <ion-item href="#/dash/neighborhoods" menu-close>Barrios</ion-item>
  <ion-item href="#/dash/streets" menu-close>Calles</ion-item>
</div>
</ion-list>
